/* Gobierno */
header{
    background-color:#F8F9FA;
}
header .container .navbar .collapse ul li a{
    color: #A32344;
    font-family: 'Montserrat', sans-serif;
}
header .container .navbar .collapse ul li a:hover{
    color: rgb(179, 142, 92)
}
/* Pininos */
.pininos{
    background-color: #60065D;
}
/* Alas */
.navbarAlas{
    background-color: #00abd1;
    width: 100%;
}
.navbarAlas .navbar-brand .logoAlas{
    position: absolute;
    top: 20%;
    z-index: 1;
}
.navbarAlas .collapse .navbar-nav .nav-item .nav-link{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;  
}
.navbarAlas .collapse .navbar-nav .nav-item a{
    margin-right: 20px;
}


/* Contenido */
.container .row .col-lg-7{
    font-family: 'Montserrat', sans-serif;
}
.container .row .col-lg-6 .row .col-3 a img{
    border-radius: 50%;
}

/* Footer */
footer{
    background-color: #1D5B4F;
}
footer .container .row .col-lg-3 ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    
}
footer .container .row .col-lg-3 ul li a, 
footer .container .row .col-lg-3 ul li h6, 
footer .container .row .col-lg-3 ul li p{
    color: #FFF !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}